.clearfix::after{
	content: "";
	display: block;
	clear:both;
	width: 0;
	height: 0;
	font-size: 0;
}
.center {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
header 样式设置
*/
.header{
	width: 1100px;
	margin: auto;
	
}
.header h1.logo{
	width: 100px;
	height: 45px;
	
	float: left;
}
.header h1.logo img{
	width: 100%;
	padding: 8px 0;
}
.menu{
	float: right;
}
.menu li{
	float: left;
}
.menu li a{
	color: #666;
	text-decoration: none;
	display: inline-block;
	margin:0 15px;
	padding: 20px 0;
	border-bottom: 3px solid #fff;
}
.menu li a:hover{
	color: #00a7ea;
	border-bottom: 3px solid #00e7ea;
}
.banner {
    height: 260px;
    background: url(../images/history_banner.jpg) center;
}
.content {
	margin-top: 30px;
	color: #666;
}
.content .nav{
    top: 30px;
position: absolute;
right: 10px;
font-size: 15px;
}
.content img{
    width: 100%;
    height:100%;
}


.footer {
    color: #666;
    font-size: 12px;
    background-color: #f5f5f5;
    

}

.footerContent {
    padding: 30px 0;
}

.footerContent .bottomLink {
    margin: 30px 0;
}

.footerContent .contactUs {
    position: absolute;
    top: 50px;
    right: 0;
}

.footerContent .contactUs li {
    float: left;
}

.footerContent .contactUs .weixin {
    display: inline-block;
    /*display: none;*/
    text-indent: -999em;
    width: 30px;
    height: 25px;
    background: url(../images/ico_footer.png);
    position: relative;
}
.footerContent .contactUs .weibo {
    display: inline-block;
    margin-left: 20px;
    text-indent: -999em;
    width: 30px;
    height: 25px;
    background: url(../images/ico_footer.png) -124px;
}

.footerContent .contactUs .weixin img.code {
    width: 150px;
    height: 150px;
    position: absolute;
    left: -50px;
    top: 24px;
    display: none;
}

.footerContent .contactUs .weixin:hover img.code {
    display: block;
}



.footerContent .copyright {
    line-height: 1.8;
}/*  
